
/*Media Querie - Inicio*/

@media screen and (max-width: 740px)
{
    #caixa-categoria {
        display: flex;
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px){
  #titulo_lancamento{
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px){
  .flex img{
    margin-left: 25%;
    margin-right: 25%;
  }
  .flex{
    width: 100%;
  }
}

@media screen and (max-width: 1238px)
{
  ultimas-avalicoes #div1{
    display: block;
    width: 33%;
  }
  ultimas-avalicoes #div2{
    display: block;
    width: 33%;
  }
  ultimas-avalicoes #div3{
    display: block;
    width: 33%;
  }

}
@media screen and (max-width: 768px)
{
  .container h3{
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px)
{
  aside {
    margin-top: 20px;
  }
}
/*@media screen and (max-width: 1085px)
{
  button{
    margin-right: 10px;
  }
}*/
.header{
  background-color:  #2f393a;
  text-align: center;
}
.header_area{
  padding: 20px;
  padding-left: 0px;
}
.header_area .logo {
  padding-left: 0px;
}
.menu_area{
  margin-top: 40px;
  margin-left: 20px;
}
.menu_area nav a{
  background-color:#3c4647 !important;
  color: white;
}
.menu_area nav a:hover{
  background-color:#979696 !important ;
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 35px;
}
@media screen and (min-width:1200px){
  .footer p{
    
    padding-top: 50px;
  }
}
#menuToggle{
  display:none;
}
.menu-icon{
  display:none;
}

@media screen and (max-width:600px){
  
  .header nav {
    display: absolute;
    width: 100%;
    height: 0%;
  }

  .menu_area {
    margin: 0px;
    z-index: 100;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;

    transition: height 0.3s;
  }

  .menu_area a {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: white;
    width: 50px;
    position: absolute;
    top: -80px;
    right: 0px;
    line-height: 60px;
    z-index: 101;
  }

  .menu-icon i {
    font-size: 1.7em;
  }

  #menuToggle:checked ~ label i:nth-child(2){
    display: block;
  }
  #menuToggle:checked ~ label i:first-child{
    display: none;
  }
  #menuToggle:not(checked) ~ label i:nth-child(2){
    display: none;
  }
  #menuToggle:not(checked) ~ label i:first-child{
    display: block;
  }
  #menuToggle:checked ~ .menu_area{
    height: 100%;
  }
}

.menu_area a {
  color: white !important;
}

.menu_area a {
  color: white !important;
  background-color: #3c4647;
}
.menu_area a:hover{
    background-color:#979696  ;
}
/* Media Querie - FIM */


